html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
}

.default-row-height {
  height: 15em;
}

.default-cell-height {
  height: 16em;
}

.paint-background-img {
  background-image: url("../public/backgrounds/paint-faded.png");
  background-size: 100%;
}

.garage-background-img {
  background-image: url("../public/backgrounds/garage-faded.png");
  background-size: 100%;
}

.spoiler-background-img {
  background-image: url("../public/backgrounds/carbon-fiber-spoiler-faded.png");
  background-size: 100%;
}

.lc-background-img {
  background-image: url("../public/backgrounds/cruiser_faded_no_licence_zoomed_22_ratio.png");
  background-size: 100%;
}

.index-link {
  color: inherit;
  text-decoration: none;
}

.index-link:hover {
  color: rgb(225, 225, 253);
}

.stroke-text {
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
